input{
    min-width: 100px !important;
    border: none  !important;
    background-color: #27272f  !important;
    font-family: Ariel !important;
    font-weight: 14px !important;
    color: #F2F2F3 !important;
    /*whiteSpace: 'nowrap' !important;*/
    /*overflow: 'hidden' !important;*/
    /*textOverflow: 'ellipsis' !important;*/
}
